---
---

<div class="publication">
  <div id="{{entry.key}}" class="col-sm-8">
    {% if entry.type == "thesis" %}
      {{reference}}
    {% else %}
    <div class="title">
    {% if entry.url %}
    <a href="{{entry.url}}" target="_blank"> {{entry.title}}</a>
    {% else %} 
    {{entry.title}}
    {% endif %}
    </div>
    <div class="author">
      {% for author in entry.author_array %}
      {% if forloop.length == 1 %}
      {% if author.last == site.scholar.last_name%}
      <em>{{author.first}} {{author.last}}</em>
      {% else %}
      {{author.first}} {{author.last}}
      {% endif %}
      {% else %}
      {% unless forloop.last %}
      {% if author.last == site.scholar.last_name%}
      <em>{{author.first}} {{author.last}}</em>,
      {% else %}
      {% if site.data.coauthors[author.last] %}
      <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.first}} {{author.last}}</a>,
      {% else %}
      {{author.first}} {{author.last}},
      {% endif %}
      {% endif %}
      {% else %}
      {% if author.last == site.scholar.last_name %}
      and <em>{{author.first}} {{author.last}}</em>
      {% else %}
      {% if site.data.coauthors[author.last] %}
      and <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.first}} {{author.last}}</a>
      {% else %}
      and {{author.first}} {{author.last}}
      {% endif %}
      {% endif %}
      {% endunless %}
      {% endif %}
      {% endfor %}
    </div>

    <div class="periodical">
      {% if entry.type == "article" %}
      <em>{{entry.journal}}</em>
      {% elsif entry.type == "inproceedings" %}
      <em>In {{entry.booktitle}}, </em>
      {% endif %}
      {% if entry.volume %}{{entry.volume}}{% endif %}
      {% if entry.number %}({{entry.number}}){% endif %}
      {% if entry.pages %}: pp. {{entry.pages}}{% endif %},
      {% if entry.year %}{{entry.year}}.{% endif %}
    </div>
    {% endif %}

    <div id ="{{key}}-materials">
    {% if entry.abstract %}
    <a href="javascript:void(0)" onclick="toggle_visibility('{{key}}-abstract')">Abstract</a>
    {% endif %}

    <a href="javascript:void(0)" onclick="toggle_visibility('{{key}}-bibtex')">BibTeX</a>

    {% if entry.abstract %}
    <p id="{{key}}-abstract" class="abstract">{{entry.abstract}}</p>
    {% endif %}

    <pre id="{{key}}-bibtex" class="bibtex">{{entry.bibtex}}</pre>
    </div>
  </div>
</div>
